
/*////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////   GENERAL STYLES   ///////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, body{ 
    height:100%;
}

body{
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    line-height: 1.6;
    background-color: #1a2328;

}

a{
    text-decoration: none;
    color: #00a2d5;
}
a:visited{
    color: #0085bf;
}

p.text {
    font-size: 27px;
    color: #fff;
    text-align: center;
    letter-spacing: 8px;
    margin: 5px;
}

#buy {
    float:right;
    margin-top: 16px;
    margin-right: 10px;
    width:505px;
    position:relative;
}

#socials{
    color: #FFFFFF;
    width:289px;
    float:right;
    right:0;
    position:fixed;
    margin-top:38px;
    margin-right:3px;


}

.enter{
    float:right;
    margin:10px;
}
#buttons {
margin: 0 auto; 
  text-align: center;  
  margin-top: -33px; 
}

/* Videos */


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 25px;*/
    height: 0;
    overflow: hidden;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

#tour {
    overflow-y:auto;
    font-size: 12px;
}




/*////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////   LAYOUT   //////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/


.wrap{
    display:table; 
    width:100%; 
    height:100%; 
    table-layout:fixed;
    margin-top: -26px
}

img.transparent{
    z-index:1;

}    

hr{
    width:150px; 
    margin-top: -13px; 
    opacity: 0.5;  
 
}

.Logo {
    position: fixed;
    margin-top: -260px; margin-left: 20px;
    z-index: 1;


}
.footer{
    background-image:url(../img/footer.png);
    bottom:0;
    position:fixed;
    width:100%;
    height:15%;
    margin: auto 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg{ 
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    z-index:-1;
    background-image:url(../img/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-animation: blink 2500ms ease-in-out infinite alternate;
    animation: blink 2500ms ease-in-out infinite alternate;
    -moz-animation: blink 2500ms ease-in-out infinite alternate;
    animation: blink 2500ms ease-in-out infinite alternate;
    -o-animation: blink 2500ms ease-in-out infinite alternate;
    animation: blink 2500ms ease-in-out infinite alternate;
    
}

@keyframes blink{
    0%{opacity:.5;}
    100%{ opacity:1;}
}

@-webkit-keyframes blink{
    0%{opacity:.5;}
    100%{ opacity:1;}
}

@-moz-keyframes blink{
    0%{opacity:.5;}
    100%{ opacity:1;}
}

@-o-keyframes blink{
    0%{opacity:.5;}
    100%{ opacity:1;}
}

.screen{
margin-top: -203px;
position: fixed;
display: block;
margin-left: 367px;
height:auto;
z-index: 0;

}


.main{
    display:table-row;
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
    padding: 10px;


 margin: 20px auto;


}

.content{
    position: relative;
    max-width: 100%;
    font-weight:100;
    *zoom: 1;

    /*---------------------------------------*/

   

    padding-top: 0px;
   
}

.content:before, .content:after { content: " "; display: table; }
.content:after { clear: both; }

.content img{
    max-width: 100%; 
    height:auto;
}





/*////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////   SOCIALS BAR   //////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/


.socials-bar{
    height:48px;
    padding: 4px 4px 0 15px;
    color:#FFFFFF;
    margin-top:20px;
    top:0;
}

.socials-bar > *{
   
    margin-left:12px;
}

.socials-bar .EmailSignup{ 
    white-space: nowrap;
    line-height: 40px;
    padding: 0 2px 0 15px;
    float:right;
    color: inherit;
    font-size: 16px;
    text-transform: uppercase;
    font-family: helvetica,sans-serif;
    letter-spacing: 2px;
}

/*---------------------------------------*/
/*////////// icon font //////////*/

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../img/iconfont/MonoSocialIconsFont-1.10.eot');
    src: url('../img/iconfont/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../img/iconfont/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../img/iconfont/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../img/iconfont/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../img/iconfont/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 0%;

}


/*---------------------------------------*/

#socials a.symbol {
    font-size: 33px;
    line-height: 45px;
    color: inherit;
    text-decoration: none;
    padding: 0 8px 1px 0;
    margin-left:1px;
    float:right;
}

#socials-bar a.symbol:before{ margin:0; }




.facebookfollow, 
.twitterfollow{
    margin-top:10px;
    margin-bottom: 3px;
    height:20px;
    overflow: hidden;
    float: left;
}

.facebookfollow iframe{
    border:none; overflow:hidden; width:61px; height:21px;
}

.googlefollow, 
.youtubefollow, 
.spotifyfollow{
    margin-top:8px;
    height:25px; 
    overflow:hidden; 
    float: left;
}




/*////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////   BUY BUTTONS   ////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/



.amazon, .itunes {
    text-indent: -9999px;/* IE 6/7 fallback */
    background-size:100% 100%;
    border-radius:.1em;
    display:inline-block;
    width:2.84090909em;
    height:1em;
    border: .03em solid #555;
    margin-left: 5px;
    overflow: hidden;

    /*---------------------------------------*/

           font-size: 34px; /*adjust the size here*/
    background-color: #000; /*adjust the background color here*/
        border-color: #5e5e5e; /*adjust the border-color here*/
}


    .amazon.preorder{ background-image:url(../img/buttons/amazon_preorder.png);}
    .amazon.download{ background-image:url(../img/buttons/amazon_download.png);}
    .amazon.available{ background-image:url(../img/buttons/amazon_available.png);}

    .itunes.preorder{ background-image:url(../img/buttons/itunes_preorder.png);}
    .itunes.download{ background-image:url(../img/buttons/itunes_download.png);}
    .itunes.available{ background-image:url(../img/buttons/itunes_available.png);}

@media only screen and (max-width: 1250px){
    
    #buy {
    margin-top: 103px;
    margin-left: 48px;
    width:505px;
    position:fixed;
    }
    #socials{
    color: #FFFFFF;
    width:289px;
    float:left;
    position:fixed;
    margin-top:122px;
    left:9px;
    }

    .footer{height:23%;}

    #stratus { display: none;} 

    @media only screen and (max-width: 821px){

   
}
@media only screen and (max-width: 960px){

.footer{
height:21%;
}
@media only screen and (max-width: 812px){
.screen {margin-left: 362px;}


@media only screen and (max-width: 803px){
    .screen {margin-left: 358px;}


@media only screen and (max-width: 800px){
     .Logo{width:773px; position:fixed; margin-top:-253px; z-index:1;}
    .screen{margin-top: -194px; margin-left: 356px; width: 22.54%; margin-left: 350px;}
    .box{margin-top: 1%; background-color: #000000; width:100%; height: 400%; z-index: -100000; margin-top: 1%;}

}
@media only screen and (max-width: 796px){
     .Logo{width:773px; position:fixed; margin-top:-252px; z-index:1;}
    #socials{width:773px;margin-top: 116px; left: -458px;}
    #buy {width:773px;margin-top: 96px; line-height:0;}
    .footer{height:13%; margin-bottom: 154px;}
    .screen{margin-top: -194px; margin-left: 367px; width: 22.54%; margin-left: 350px;}
    .box{margin-top: 1%; background-color: #000000; width:100%; height: 400%; z-index: -100000; margin-top: 1%;}

  

@media only screen and (max-width: 787px){
     .Logo{width:773px; position:fixed; margin-top:-248px; z-index:1;}
    #socials{width:773px;margin-top: 116px; left: -458px;}
    #buy {width:773px;margin-top: 96px; line-height:0;}
    .footer{height:13%; margin-bottom: 173px;}
    .screen{margin-top: -188px; margin-left: 367px; width: 22.54%; margin-left: 347px;}
    .box{margin-top: 1%; background-color: #000000; width:100%; height: 400%; z-index: -100000; margin-top: 1%;}



@media only screen and (max-width: 784px){
   
    .Logo{width:773px; position:fixed; margin-top:-253px; z-index:1;}
    #socials{width:773px;margin-top: 116px; left: -458px;}
    #buy {width:773px;margin-top: 96px; line-height:0;}
    .footer{height:13%; margin-bottom: 125px;}
    .screen{margin-top: -192px; margin-left: 367px; width: 22.64%; margin-left: 45.1%;}
    .box{margin-top: 1%; background-color: #000000; width:100%; height: 400%; z-index: -100000; margin-top: 1%;}


}


@media only screen and (max-width: 778px){

.box{
    background-color: #000000;
width: 100%;
height: 300%;
z-index: -100000;
margin-top: 1%;
}

@media only screen and (max-width: 780px){



.footer{
    height:22%;
    margin-bottom: 9%;

}

/*////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////   MOBILE STYLES   ///////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////*/


@media only screen and (max-width: 768px){
   
    .Logo{width:757px; position:fixed; margin-top:-243px; z-index:1;}
    #socials{width:757px;margin-top: 116px; left: -458px;}
    #buy {width:757px;margin-top: 96px; line-height:0;}
    .footer{height:26%; margin-bottom: 50px;}
    .screen{margin-top: -188px; margin-left: 367px; width: 22.54%; margin-left: 45.1%;}

    #stratus { display: none;}

@media only screen and (max-width: 754px){
.screen{width: 22.54%;
margin-left: 46.1%;}    

@media only screen and (max-width: 740px){
.footer{height:21%; margin-bottom: 107px;}
.box{margin-top: 1%; background-color: #000000; width:100%; height: 400%; z-index: -100000; margin-top: 1%;}
.screen{width: 22.74%; margin-left: 46.1%;}

@media only screen and (max-width: 734px){ 
   .screen{ margin-left: 47.1%;}

@media only screen and (max-width: 731px){ 
    .screen{width: 24.54%;} 

    @media only screen and (max-width: 731px){ 
    .screen{margin-left: 47.1%;} 

@media only screen and (max-width: 716px){ 
.screen{width: 23.74%;margin-left: 48.1%;} 


 .screen {width: 23.74%;margin-left: 48.1%;} 
 

@media only screen and (max-width: 714px){  
 .screen {width: 23.74%;margin-left: 48.1%;} 

@media only screen and (max-width: 713px){  
 .screen{width: 23.74%; margin-left: 48.75%;}  


@media only screen and (max-width: 710px){  
 .screen{margin-left: 346px; width: 23.54%;} 

 @media only screen and (max-width: 696px){ 
     .footer{margin-bottom: 100px}

@media only screen and (max-width: 685px){
.screen{width: 24.54%;}      

@media only screen and (max-width: 668px){
.screen{width: 24.74%; }     

@media only screen and (max-width: 663px){ 
    .screen{ width: 24.54%;}
@media only screen and (max-width: 655px){ 
    .screen{width:25.54%;}


@media only screen and (max-width: 653px){ 
 .screen{ width: 25.54%;}

 @media only screen and (max-width: 650px){
    .screen{width: 25.54%;} 
 
@media only screen and (max-width: 640px){
    .footer{margin-bottom: 120px}
    .Logo{width:630px; margin-top: -203px;}
    #socials{width:630px; margin-top:107px; left:-332px;}
    #buy{width:630px;margin-top:85px }
    .screen{width:22%;margin-top: -159px;}

@media only screen and (max-width: 639px){
    .screen{margin-left: 290px;}    


@media only screen and (max-width: 638px){
    .screen{margin-left: 290px;}    


@media only screen and (max-width: 637px){

   .screen{width:24%;margin-left: 290px;}

   @media only screen and (max-width: 633px){ 
     .footer{margin-bottom: 100px}

 @media only screen and (max-width: 611px){ 
    .screen{width:24%;}

@media only screen and (max-width: 592px){ 
    .screen{width:24%;}

   @media only screen and (max-width: 561px){ 
    .screen{margin-top: -158px; margin-left: 290px; width:25%;
}
   @media only screen and (max-width: 547px){
    .screen{margin-left: 290px; width: 26%;  margin-top:-158px;}



 
 @media only screen and (max-width: 542px){
    .screen{width: 26%;}

@media only screen and (max-width: 529px){
    .screen{width: 26%; margin-top: -156px; margin-left: 291px;}

 .footer {
height: 29%;
}}
@media only screen and (max-width: 524px){
    .footer{height:26%; margin-bottom: 100px;}


@media only screen and (max-width: 492px){
  .screen{width: 28%;}

@media only screen and (max-width: 480px){
    .Logo{width:470px; position:fixed; margin-top:-150px;}
    #socials{width:470px;margin-top: 105px; left: -151px;}
    #buy {width:470px;margin-top: 56px; line-height:0;}
    .footer{height:26%; margin-bottom: 100px;}
    .screen{margin-top: -119px; margin-left: 367px; width: 23%; margin-left: 47.5%;}

@media only screen and (max-width: 449px){
.screen{margin-top: -116px;  width: 23.5%;  margin-left: 49.5%;}        

@media only screen and (max-width: 445px){
.screen{margin-top: -116px;  width: 23.5%; margin-left: 50.5%;}    

}
@media only screen and (max-width: 435px){
.screen{margin-top:-118px; width:24%; margin-left:51.5%;} 
#socials{width:425px;margin-top: 105px; left: -151px;}   


@media only screen and (max-width: 428px){
.screen{width: 25%;
margin-left: 52.5%;}  
}  

@media only screen and (max-width: 421px){
    .footer{height:26%; margin-bottom: 118px;}
    .screen{width: 26%;margin-left: 52.5%;}





@media only screen and (max-width: 423px){
 .footer {
height: 52%;
}

.box{
    margin-top:0%;
}


@media only screen and (max-width: 400px){
 .Logo{width:390px; position:fixed; margin-top:-127px;}
    #socials{width:390px;margin-top: 105px; left: -123px;}
    #buy {width:390px;margin-top: 56px; line-height:0;}


.footer {
background-image: url(../img/footer.png);
margin-bottom: 80px;
position: fixed;
width: 100%;
height: 58%;
margin: auto 0;
background-size: contain;
}
.box{
    background-color: #000000;
width: 100%;
height: 100%;
z-index: -100000;
margin-top: 1%;
}
.screen{
margin-top: -97px;
position: fixed;
display: block;
margin-left: 187px;
height: auto;
z-index: 0;
width: 22%;
}
#socials a.symbol {
    padding: 0 0px 1px 0;
    
}

@media only screen and (max-width: 375px){
    .Logo{width:370px; position:fixed; margin-top:-121px}
    #socials{width:370px; left: -106px;}
    #buy {width:370px;}
    .screen{margin-left: 178px;
        width: 24%;


    }
    .footer {
     height: 58%;
     }


@media only screen and (max-width: 300px){
.Logo{width:290px; position:fixed; margin-top:-121px;}
    #socials{width:290px;}
    #buy {width:290px;}



    }
    .footer {
     height: 58%;
     }
  



   
}